<nav>
  templating-demo
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/r/hamburger">r/hamburger</a></li>
    <li><a href="/r/hotdog">r/hotdog</a></li>
    <li><a href="/r/pizza">r/pizza</a></li>
  </ul>
</nav>
