<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Show comment</title>
  </head>
  <body>
    <h1>Comment <%= comment.id %></h1>
    <p><%= comment.comment %> - <%= comment.username %></p>
    <a href="/comments/<%= comment.id %>/edit">Edit comment</a>
    <a href="/comments">Back to all comments</a>
  </body>
</html>
